# PostgreSQL
POSTGRES_DB=stock_market
POSTGRES_USER=stock_market
POSTGRES_PASSWORD=stock_market

# Redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_DEFAULT_USER=stock_market
RABBITMQ_DEFAULT_PASS=stock_market

# Application
JWT_SECRET=change-me-in-local-env
